# Bundler config
/.bundle

# Node modules
/node_modules

# Generated (pre-compilation) assets
/app/assets/builds

# Compiled assets
public/*
!public/404.html
!public/500.html

# Data for docker-run services
/data

# Logs
/log
