<h1>Your account</h1>
<br>

<p>
  Your name:
  <br>
  <%= user.name %>
  <!--TODO EDIT NAME -->
</p>
<br>

<p>
  Your email:
  <br>
  <%= user.email %> <a href="/account/change-email">Change</a>
</p>
<br>

<p>
  <a href="/account/change-password">Change your password</a>
</p>
